{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.base.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["testing-library"],
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "airbnb-typescript",
    "plugin:jest-dom/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "no-console": "error",
    "no-restricted-syntax": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "jest.setup.ts",
          "cypress/**/*.ts",
          "**/?(*.)+(spec|test).[jt]s?(x)",
          "**/testUtils.tsx"
        ]
      }
    ],
    "prettier/prettier": "off"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "excludedFiles": "**/cypress/**/*.[jt]s?(x)",
      "extends": ["plugin:testing-library/react"]
    },
    {
      "files": ["**/cypress/**/*.[jt]s?(x)"],
      "excludedFiles": "**/__tests__/**/*.[jt]s?(x)",
      "extends": ["plugin:cypress/recommended"]
    }
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  }
}
