.keypad {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  margin: auto;
  padding: 0.5rem 0;

  .element {
    flex-basis: 30%;
    display: flex;
  }
}
