.list {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  .suggestion {
    padding-left: 0.3rem;

    border: thin dotted black;
    font-size: 1.5em;

    &:hover {
      background-color: lightgrey;
    }
  }
}
